.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display: inline;
}

#backToCampgrounds{
    width: 100%;
}

#infoTitle{
    text-align: center;
    margin-bottom: 0;
}