<!-- include header template -->
<%- include("partials/header")  %> 

<h1>This is the home page</h1>
<img src="https://thedogsjournal.com/wp-content/uploads/bfi_thumb/800px-Pomsky_Dog_Breed_-_Pomeranian_Husky_Mix-3al075hn6baobqzfl7dgju.jpg" alt="">

<!-- include footer template -->
<%- include("partials/footer")  %> 
